/* BASIC CONFIGURATIONS */
:root {
  --alfa-main-color: #000c66;
  --alfa-dark-color: #00094d;
  --alfa-second-color: #0081c6;
  --alfa-third-color: #abedd8;
  --alfa-fourth-color: #14202e;
  --alfa-fifth-color: #46cdcf;

  --not-white: #fefefe;
  --not-black: #080808;
  --spacing: 2%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 2% 0;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  margin: 2% 0;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: var(--spacing) 0;
}

p {
  font-size: 1.5rem;
}

/*      THEMES     */
.neutral-theme {
  --color: var(--not-black);
  --background-color: var(--not-white);
  color: var(--color);
  background-color: var(--background-color);
  --a-link-color: var(--alfa-main-color);
  --a-visited-color: var(--alfa-second-color);
  --button-color: var(--alfa-main-color);
  --button-hover-color: var(--not-white);
  --span-color: var(--alfa-main-color);
  --theme-color: var(--not-white);
}

.dark-theme {
  --color: var(--not-white);
  --background-color: var(--not-black);
  color: var(--color);
  background-color: var(--background-color);
  --a-link-color: var(--alfa-second-color);
  --a-visited-color: var(--alfa-fifth-color);
  --button-color: var(--alfa-second-color);
  --button-hover-color: var(--not-black);
  --span-color: var(--alfa-second-color);
  --theme-color: var(--alfa-second-color);
}

.primary-theme {
  --color: var(--not-white);
  --background-color: var(--alfa-main-color);
  color: var(--color);
  background-color: var(--background-color);
  --a-link-color: var(--not-white);
  --a-visited-color: var(--alfa-third-color);
  --button-color: var(--not-white);
  --button-hover-color: var(--alfa-main-color);
  --span-color: var(--not-white);
}

/* HEADER ELEMENTS */
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100vw;
  min-height: 100vh;
  padding: 10%;
}

span {
  color: var(--span-color);
}

details {
  display: flex;
  border: 3px solid var(--button-color);
  font-size: 1.5rem;
  text-align: center;
}

details:hover,
details:focus {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--button-color);
}

summary {
  color: var(--button-color);
  font-weight: bold;
  padding: var(--spacing);
}

summary:hover,
summary:focus {
  cursor: pointer;
  color: var(--button-hover-color);
  background-color: var(--button-color);
}

.summary-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 0 0;
}

.summary-items {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

.summary-items:hover,
.summary-items:focus {
  color: var(--button-hover-color);
  background-color: var(--button-color);
}

#summary-link-about,
#summary-link-project,
#summary-link-contact {
  width: 100%;
  height: 100%;
  padding: var(--spacing) 0;
}

#summary-link-about:hover,
#summary-link-project:hover,
#summary-link-contact:hover,
#summary-link-about:focus,
#summary-link-project:focus,
#summary-link-contact:focus {
  color: var(--button-hover-color);
  background-color: var(--button-color);
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--a-link-color);
}

a:visited {
  color: var(--a-link-color);
}

a:hover,
a:focus {
  text-decoration: 2px underline;
}

/* MAIN ELEMENTS */
/* SECTION ABOUT */
#about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 90vw;
  min-height: 100vh;
  padding: 5%;
}

.about-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.about-img {
  width: 40%;
  height: 40%;
  max-width: 50%;
  max-height: 50%;
  min-width: 200px;
  min-height: 200px;
  object-fit: cover;
  margin: 0 var(--spacing) 0 0;
  border-radius: 50%;
  transition: border-radius 1s;
}

.about-img:hover,
.about-img:focus {
  border-radius: 5%;
}

.about-text {
  min-height: 30%;
  margin: var(--spacing);
}

#resume,
cite {
  margin-top: var(--spacing);
}

blockquote {
  margin-top: 3%;
}

.button {
  display: inline-block;
  width: fit-content;
  padding: 0.8rem;
  border: 2px solid var(--button-color);
  text-decoration: none;
  color: var(--button-color);
  text-align: center;
  font-size: 1.5rem;
}

.button:hover,
.button:focus {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

blockquote {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

cite {
  display: block;
  font-style: normal;
}

/* SECTION PROJECTS */
#projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 90vw;
  min-height: 100vh;
  padding: 5%;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing);
}

.article-text {
  min-height: 60%;
  width: 70vw;
  margin: var(--spacing);
}

.article-img {
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 0 var(--spacing) 0 0;
  border-radius: 10%;
}

/* SECTION CONTACT */
#contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 90vw;
  min-height: 60vh;
  padding: 5%;
  text-align: center;
}

/* FOOTER ELEMENTS */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  /* min-height: 30vh; */
  background-color: var(--alfa-fourth-color);
  color: var(--not-white);
  padding: 2% 0 7%;
  text-align: center;
  font-size: 1rem;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--spacing);
  min-width: 60vw;
}

.social-item {
  background-color: var(--not-white);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0px;
  background: no-repeat;
  background-size: 2.5rem;
  background-position: center;
}

.social-link:hover,
.social-link:focus {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.twitter {
  background-image: url(../images/icon-twitter.webp);
}

.github {
  background-image: url(../images/icon-github.webp);
}

.linkedin {
  background-image: url(../images/icon-linkedin.webp);
}

.instagram {
  background-image: url(../images/icon-instagram.webp);
}

.youtube {
  background-image: url(../images/icon-youtube.webp);
}

#copyright {
  font-size: 1.2rem;
}

/* NAVIGATION ELEMENTS */
#nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 10%;
  top: 1%;
  left: 0;
  margin: 0;
}

#nav-header-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 10%;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: var(--alfa-second-color);
  text-decoration: none;
  /* filter: drop-shadow(0 2px 2px (var(--not-black) 20%)); */
  visibility: hidden;
}

.nav-bar-list,
.nav-bar-item {
  display: flex;
  margin: 0;
}

.nav-bar-list {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
}

.nav-bar-item {
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

#nav-bar-item-home,
#nav-bar-item-about,
#nav-bar-item-theme-link,
#nav-bar-item-project,
#nav-bar-item-contact {
  display: flex;
  justify-content: center;
  width: 100%;
}

#nav-bar-item-home,
#nav-bar-item-about,
#nav-bar-item-theme-link,
#nav-bar-item-project,
#nav-bar-item-contact {
  height: 100%;
  padding: 5%;
}

#nav-bar-item-theme-link {
  align-items: center;
}

#nav-bar-item-theme {
  height: 80%;
}

#nav-header-item-theme {
  height: 10%;
  width: 10%;
  border-radius: 80%;
  border: 3px solid var(--theme-color);
  background-color: var(--theme-color);
}

@media (max-width: 700px) {
  h2 {
    margin: 5% 0;
  }

  p {
    margin: 5% 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 0 var(--spacing) 0;
  }

  .about-text {
    max-width: 90%;
    margin: var(--spacing);
  }

  blockquote {
    margin-top: 5%;
  }

  article {
    display: flex;
    flex-direction: column-reverse;
  }

  .article-text {
    min-width: 90%;
    margin: var(--spacing);
    text-align: center;
  }

  .article-img {
    width: 25vw;
    height: 25vw;
    min-width: 140px;
    min-height: 140px;
    margin: 0 0 var(--spacing) 0;
  }

  .contact {
    min-width: 90vw;
  }

  /* footer {
    padding: 2% 0 7%;
  } */

  footer {
    padding: 2%;
  }

  .social {
    flex-wrap: wrap;
    min-width: 90vw;
  }

  .social-item {
    width: 3rem;
    height: 3rem;
  }

  .social-link {
    background-size: 1.5rem;
  }

  #nav-bar {
    display: none;
  }

  /* #nav-bar {
    height: 7%;
  }

  .nav-bar-item {
    max-height: 10vw;
    max-width: 10vw;
    min-height: 10px;
    min-width: 10px;
  } */
}
