/* BASIC CONFIGURATIONS */
:root {
  --alfa-main-color: #000c66;
  --alfa-second-color: #0081c6;
  --alfa-third-color: #abedd8;
  --alfa-fourth-color: #14202e;
  --alfa-fifth-color: #46cdcf;
  --not-white: #fefefe;
  --not-black: #080808;
  --spacing: 2%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  margin: 2% 0;
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 2% 0;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: var(--spacing) 0;
}

p {
  font-size: 2rem;
}

/*      THEMES     */
.neutral-theme {
  color: var(--not-black);
  background-color: var(--not-white);
  --a-link-color: var(--alfa-main-color);
  --a-visited-color: var(--alfa-second-color);
  --button-color: var(--alfa-main-color);
  --button-hover-color: var(--not-white);
  --span-color: var(--alfa-main-color);
}

.primary-theme {
  color: var(--not-white);
  background-color: var(--alfa-main-color);
  --a-link-color: var(--not-white);
  --a-visited-color: var(--alfa-third-color);
  --button-color: var(--not-white);
  --button-hover-color: var(--alfa-main-color);
  --span-color: var(--not-white);
}

/* HEADER ELEMENTS */

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: var(--spacing);
}

span {
  color: var(--span-color);
}

details {
  display: flex;
  padding: var(--spacing);
  border: 2px solid var(--alfa-main-color);
  font-size: 1.8rem;
}

details:hover {
  transition: all 0.3s ease-in-out;
  border: 5px solid var(--alfa-main-color);
}

summary {
  color: var(--button-color);
  font-weight: bold;
}

.summary-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0 0;
}

.summary-items {
  margin: 2px 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--a-link-color);
}

a:visited {
  color: var(--a-link-color);
}

a:hover {
  text-decoration: underline;
}

/* MAIN ELEMENTS */
/* SECTION ABOUT */
.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 90vw;
  min-height: 100vh;
  padding: var(--spacing);
}

.about-container {
  display: flex;
  align-items: center;
}

.about-img {
  width: 40%;
  height: 40%;
  max-width: 50%;
  max-height: 50%;
  min-width: 30%;
  min-height: 30%;
  object-fit: cover;
  margin: 0 var(--spacing) 0 0;
  border-radius: 50%;
  transition: border-radius 1s;
}

.about-img:hover {
  border-radius: 5%;
}

.about-text {
  min-height: 30%;
  margin: var(--spacing);
}

blockquote,
cite,
#resume {
  margin-top: var(--spacing);
}

.button {
  display: inline-block;
  width: fit-content;
  padding: 0.8rem;
  border: 2px solid var(--button-color);
  text-decoration: none;
  color: var(--button-color);
  text-align: center;
  font-size: 1.8rem;
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

blockquote {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

cite {
  display: block;
  font-style: normal;
}

/* SECTION PROJECTS */
.projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 90vw;
  min-height: 100vh;
  padding: var(--spacing);
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing);
}

.article-text {
  min-height: 60%;
  width: 70vw;
  font-size: 1.2rem;
  margin: var(--spacing);
}

.article-img {
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 0 var(--spacing) 0 0;
  border-radius: 10%;
}

/* SECTION CONTACT */
.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 90vw;
  min-height: 70vh;
  padding: var(--spacing);
  text-align: center;
}

/* FOOTER ELEMENTS */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 30vh;
  background-color: var(--alfa-fourth-color);
  color: var(--not-white);
  padding: var(--spacing);
  text-align: center;
  font-size: 1.2rem;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--spacing);
  min-width: 60vw;
}

.social-item {
  background-color: var(--not-white);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0px;
  background: no-repeat;
  background-size: 2.5vw;
  background-position: center;
}

.social-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.twitter {
  background-image: url(../images/icon-twitter.webp);
}

.github {
  background-image: url(../images/icon-github.webp);
}

.linkedin {
  background-image: url(../images/icon-linkedin.webp);
}

.instagram {
  background-image: url(../images/icon-instagram.webp);
}

.youtube {
  background-image: url(../images/icon-youtube.webp);
}

#copyright {
  font-size: 1.2rem;
}

#to-top-button {
  align-self: flex-end;
  position: fixed;
  width: fit-content;
  padding: 0.2% 1.2% 0.2%;
  bottom: 0;
  right: 2%;
  background-color: #868686;
  color: var(--not-black);
  text-decoration: none;
  border: 5rem #868686;
  border-radius: 0.2rem 0.2rem 0 0;
  font-size: 1.2rem;
  filter: drop-shadow(0 2px 2px (var(--not-black) 20%));
  visibility: hidden;
}

@media (max-width: 700px) {
  h2,
  h3 {
    margin: 10% 0;
  }

  p {
    margin: 5% 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    width: 80%;
    height: 80%;
    max-width: 350px;
    max-height: 350px;
    margin: 0 0 var(--spacing) 0;
  }

  .about-text {
    max-width: 90%;
    margin: var(--spacing);
  }

  blockquote,
  cite {
    margin-top: 5%;
  }

  article {
    display: flex;
    flex-direction: column-reverse;
  }

  .article-text {
    min-width: 90vw;
    margin: var(--spacing);
    text-align: center;
  }

  .article-img {
    width: 90vw;
    height: 90vw;
    min-width: 140px;
    min-height: 140px;
    margin: 0 0 var(--spacing) 0;
  }

  .contact {
    min-width: 90vw;
  }

  .social {
    flex-wrap: wrap;
    min-width: 90vw;
  }

  .social-item {
    width: 10vw;
    height: 10vw;
    min-width: 25px;
    min-height: 25px;
  }

  .social-link {
    background-size: 60%;
  }
}
