:root {
  --alfa-main-color: #000c66;
  --not-white: #fefefe;
  --not-black: #080808;
  --max-width: 960px;
  --spacing: 4rem;
  --img-width: 350px;
}

/*      MAIN HTML PARTS     */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*      HTML BLOCK ELEMENTS     */
h1 {
  margin-bottom: var(--spacing);
  font-size: clamp(3rem, 5vw, 200rem);
  font-weight: bold;
  line-height: 1.4em;
  color: var(--not-black);
}

h2 {
  text-align: center;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--spacing);
}

h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: larger;
  line-height: 1.4em;
  margin-bottom: 1em;
}

section {
  padding: var(--spacing);
}

article {
  display: flex;
  flex-direction: column-reverse;
}

blockquote {
  margin-top: var(--spacing);
  font-size: large;
  font-style: italic;
  text-align: center;
}

footer {
  padding: var(--spacing);
  text-align: center;
  background-color: #333;
  color: var(--not-white);
}

/*      HTML INLINE ELEMENTS     */
cite {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
}

span {
  color: var(--alfa-main-color);
}

a {
  color: var(--not-white);
  text-underline-position: below;
}

/*      THEMES     */
.neutral-theme {
  background-color: var(--not-white);
  --button-color: var(--alfa-main-color);
  --button-hover-color: var(--not-white);
}

.primary-theme {
  color: var(--not-white);
  background-color: var(--alfa-main-color);
  --button-color: var(--not-white);
  --button-hover-color: var(--alfa-main-color);
}

/*      AUXILIAR ELEMENTS     */

.button {
  display: inline-block;
  width: max-content;
  padding: 1rem;
  border: 2px solid var(--button-color);
  font-weight: bold;
  text-decoration: none;
  color: var(--button-color);
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  transition: all 0.3s ease-in-out;
}

/*      CLASS ELEMENTS     */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.75rem solid var(--alfa-main-color);
}

.header:hover::after {
  border-top-color: var(--not-white);
  transition: all 0.3s ease-in-out;
}

.header-button {
  display: inline-block;
  width: max-content;
  padding: 1rem;
  border: 2px solid var(--button-hover-color);
  font-weight: bold;
  text-decoration: none;
  color: var(--button-hover-color);
  background-color: var(--button-color);
}

.header-button-item {
  display: block;
  width: max-content;
  justify-items: center;
  object-position: center;
  margin: auto;
  padding: 1vh;
}

.header-button-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.3vh;
  text-underline-offset: 1vh;
}

.header-button-text {
  text-align: center;
  display: flex;
  width: max-content;
  text-decoration: none;
}

.about {
  position: relative;
  margin-bottom: 100px;
  /*
  padding: var(--spacing);
  background-color: var(--alfa-main-color);
  color: var(--not-white);
  */
}

/*
.about::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -100px;
  width: 0;
  height: 0;
  border-top: 100px solid var(--alfa-main-color);
  border-right: 100vw solid transparent;
}
*/

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

.about-img {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto var(--spacing);
}

.article-img {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .about-container {
    display: flex;
  }

  .about-text {
    margin-left: var(--spacing);
  }

  article {
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto var(--spacing);
  }

  .article-img {
    margin-left: 2rem;
    max-width: 350px;
    object-fit: cover;
  }
}

.contact {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

/*
.contact::before {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 0;
  height: 0;
  border-bottom: 100px solid var(--alfa-main-color);
  border-left: 100vw solid transparent;
}
*/

.contact-title {
  margin-bottom: 3rem;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
}

.social-item {
  background-color: var(--not-white);
  border-radius: 50%;
  padding: 10px;
  margin: 0 2rem;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0px;
  background: no-repeat;
  background-size: 30px;
}

.social-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.linkedin {
  background-image: url(../images/icon-linkedin.webp);
}

.github {
  background-image: url(../images/icon-github.webp);
}
