:root {
  --alfa-main-color: #000c66;
  --alfa-second-color: #0081c6;
  --alfa-third-color: #abedd8;
  --alfa-fourth-color: #14202e;
  --alfa-fifth-color: #46cdcf;
  --not-white: #fefefe;
  --not-black: #080808;
  --max-width: 960px;
  --spacing: 4rem;
  --img-width: 350px;
}

/*      MAIN HTML PARTS     */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2vw, 130rem);
}

/*      HTML BLOCK ELEMENTS     */
h1 {
  margin-bottom: var(--spacing);
  font-size: clamp(3rem, 5vw, 200rem);
  font-weight: bold;
  line-height: 1.4em;
}

h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 180rem);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--spacing);
}

h3 {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 3vw, 150rem);
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

section {
  padding: var(--spacing);
}

article {
  display: flex;
  flex-direction: column-reverse;
}

blockquote {
  margin-top: var(--spacing);
  font-size: clamp(0.9rem, 1.3vw, 100rem);
  font-style: italic;
  text-align: center;
}

footer {
  padding: var(--spacing);
  text-align: center;
  font-size: clamp(0.9rem, 1.2vw, 100rem);
  background-color: var(--alfa-fourth-color);
  color: var(--not-white);
}

/*      HTML INLINE ELEMENTS     */
cite {
  display: block;
  margin-top: 1rem;
  /* font-size: 1rem; */
  font-style: normal;
}

span {
  color: var(--span-color);
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--a-link-color);
}

a:visited {
  color: var(--a-link-color);
}

a:hover {
  text-decoration: underline;
}

/*      THEMES     */
.neutral-theme {
  color: var(--not-black);
  background-color: var(--not-white);
  --a-link-color: var(--alfa-main-color);
  --a-visited-color: var(--alfa-second-color);
  --button-color: var(--alfa-main-color);
  --button-hover-color: var(--not-white);
  --span-color: var(--alfa-main-color);
}

.primary-theme {
  color: var(--not-white);
  background-color: var(--alfa-main-color);
  --a-link-color: var(--not-white);
  --a-visited-color: var(--alfa-third-color);
  --button-color: var(--not-white);
  --button-hover-color: var(--alfa-main-color);
  --span-color: var(--not-white);
}

/*      AUXILIAR ELEMENTS     */

.button {
  display: inline-block;
  width: max-content;
  padding: 1rem;
  border: 2px solid var(--button-color);
  text-decoration: none;
  color: var(--button-color);
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/*      CLASS ELEMENTS     */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: max-content;
  padding: 1rem;
  border: 2px solid var(--alfa-main-color);
  font-weight: bold;
}

details:hover {
  transition: all 0.3s ease-in-out;
  border: 5px solid var(--alfa-main-color);
}

summary {
  color: var(--button-color);
}

.summary-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
}

.summary-items {
  width: max-content;
  margin: 3px 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* margin-bottom: 100px; */
}

.about-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.about-img {
  display: block;
  width: 60%;
  min-width: 200px;
  max-width: 400px;
  border-radius: 240px;
  transition: border-radius 2s;
}

.about-text {
  margin: 3%;
  padding: 3% 0;
}

.about-img:hover {
  border-radius: 20px;
}

.article-img {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-text {
    margin: 0 3%;
  }

  article {
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto var(--spacing);
  }

  .article-img {
    margin-left: 2rem;
    max-width: 350px;
    object-fit: cover;
  }
}

.contact {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.contact-title {
  margin-bottom: 3rem;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
}

.social-item {
  background-color: var(--not-white);
  border-radius: 50%;
  padding: 10px;
  margin: 0 2rem;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0px;
  background: no-repeat;
  background-size: 30px;
}

.social-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.linkedin {
  background-image: url(../images/icon-linkedin.webp);
}

.github {
  background-image: url(../images/icon-github.webp);
}
