:root {
  --alfa-main-color: purple;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5vw;
  line-height: 1.4em;
  /* base font size: 16px */
  margin-bottom: 2rem;
}

span {
  color: var(--alfa-main-color);
}

a {
  text-underline-offset: 4px;
}

.button {
  color: var(--alfa-main-color);
  font-weight: bold;
  border: 2px solid var(--alfa-main-color);
  text-decoration: none;
  padding: 1rem;
}
