header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5vw;
  line-height: 1.4em;
  /* base font size: 16px */
  margin-bottom: 2rem;
}

span {
  color: purple;
}

a {
  text-underline-offset: 4px;
}
