:root {
  --alfa-main-color: #750694;
  --spacing: 4rem;
  --not-white: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  background-color: var(--not-white);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5vw;
  line-height: 1.4em;
  /* base font size: 16px */
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  font-size: 3vw;
  text-transform: uppercase;
  margin-bottom: var(--spacing);
}

p {
  /* 0.4 bigger then 100%  */
  line-height: 1.4em;
  margin-bottom: 1em;
}

span {
  color: var(--alfa-main-color);
}

a {
  text-underline-offset: 4px;
}

.button {
  color: var(--alfa-main-color);
  font-weight: bold;
  border: 2px solid var(--alfa-main-color);
  text-decoration: none;
  padding: 1rem;
}

.button:hover {
  color: var(--not-white);
  background-color: var(--alfa-main-color);
}

.about {
  background-color: var(--alfa-main-color);
  color: var(--not-white);
  padding: var(--spacing);
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .about-container {
    display: flex;
  }
  .about-text {
    margin-left: var(--spacing);
  }
}

.about-img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto var(--spacing);
}
